.shop-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
}

.cart-container {
    background-color: #99d8c9;
    margin-left: 30px;
    border-radius: 10px;
}