.cart {
    position: sticky;
    top: 0;
    margin-left: 30px;
    margin-top: 0;
    border-radius: 10px;
}

.cart-title {
    margin-top: 50px;
}

.added-product-container {
    display: flex;
    align-items: center; 
}

.cart-image-container {
    width: 50px;
    margin: 10px;
}

.cart-image {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}