.product {
    background-color: #fff;
    border-radius: 5px;
    height: 450px;
    position: relative;
    overflow: hidden;
}

.product img {
    width: 200px;
    height: 200px;
    margin: 5px 25px ;
}

.product-info {
    margin: 20px;
}

.product-name {
    margin-top: 0;
    margin-bottom: 10px;
}

.product-price {
    margin: 0;
}

.product-info p {
    margin-top: 0;
}

.cart-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    border: 0;
    font-size: 15px;
    background-color: #99d8c9;
    cursor: pointer;
}

.cart-btn:hover {
    background-color: cadetblue;
}

.cart-btn .cart-text {
    margin-right: 5px;
}

@media screen and (max-width: 575px) {
    .product img {
       display: block;
       margin: 0 auto;
       padding-top: 10px;
    }
}